@model IEnumerable<Health_Insurance.Models.Policy>
@* Ensure the model namespace is correct based on your project name *@

@{
    ViewData["Title"] = "Available Policies";
}

<h1>Available Policies for Enrollment</h1>

@* Employee Selection Dropdown *@
<div class="form-group col-md-4">
    <label for="employeeSelect">Select Employee:</label>
    @* Use asp-items to populate the dropdown from ViewBag.EmployeeList *@
    <select id="employeeSelect" class="form-control" asp-items="ViewBag.EmployeeList">
        <option value="">-- Select Employee --</option> @* Optional: Add a default empty option *@
    </select>
</div>

<table class="table mt-3">
    @* Added margin-top for spacing *@
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PolicyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverageAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremiumAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyType)
            </th>
            <th></th> @* Column for action links (Enroll) *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoverageAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PremiumAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyType)
                </td>
                <td>
                    @* Link to the Enroll action. This link will be updated by JavaScript. *@
                    @* We add a data-employee-id attribute to store the employee ID *@
                    @* The initial value can be empty or a default *@
                    <a href="#" class="enroll-link"
                       data-policy-id="@item.PolicyId"
                       data-employee-id="">Enroll (Select Employee)</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Display error message if any *@
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger mt-3">
        @ViewBag.ErrorMessage
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            // Get references to the dropdown and all enroll links
            var employeeSelect = $('#employeeSelect');
            var enrollLinks = $('.enroll-link');

            // Function to update the href of the enroll links
            function updateEnrollLinks() {
                var selectedEmployeeId = employeeSelect.val(); // Get the selected employee ID

                // Iterate over each enroll link
                enrollLinks.each(function () {
                    var link = $(this);
                    var policyId = link.data('policy-id'); // Get the policy ID from the data attribute

                    if (selectedEmployeeId) {
                        // If an employee is selected, update the href
                        link.attr('href', '/Enrollment/Enroll?policyId=' + policyId + '&employeeId=' + selectedEmployeeId);
                        link.text('Enroll (Employee ' + selectedEmployeeId + ')'); // Update link text
                    } else {
                        // If no employee is selected, disable the link or set a placeholder href
                        link.attr('href', '#'); // Set href to # or remove it
                        link.text('Enroll (Select Employee)'); // Reset link text
                    }
                });
            }

            // Call the function initially to set links based on the default dropdown value
            updateEnrollLinks();

            // Attach the update function to the change event of the dropdown
            employeeSelect.on('change', updateEnrollLinks);
        });
    </script>
}





