@model IEnumerable<Health_Insurance.Models.Policy>
@* Ensure the model namespace is correct based on your project name *@

@{
    ViewData["Title"] = "Available Policies";
}

<h1>Available Policies for Enrollment</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PolicyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverageAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremiumAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyType)
            </th>
            <th></th> @* Column for action links (Enroll) *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoverageAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PremiumAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyType)
                </td>
                <td>
                    @* Link to the Enroll action. You'll need to pass the EmployeeId. *@
                    @* For testing, we are hardcoding EmployeeId="12" based on your data. *@
                    <a asp-action="Enroll" asp-route-policyId="@item.PolicyId" asp-route-employeeId="12">Enroll (Employee 12)</a>
                    @* Replace "12" with logic to get the actual employee ID in a real application *@
                </td>
            </tr>
        }
    </tbody>
</table>

@* Display error message if any *@
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger mt-3">
        @ViewBag.ErrorMessage
    </div>
}


